$color-white: #efefef;
$color-black: #1c1c1c;
$color-black-0: #000000;
$color-red: #b72026;
$color-yellow: #ffde3f;
$color-yellow-2: #cf8b2c;
$color-orange: #f05c27;

.hero-backdrop-wrapper {
	.hero-content {
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
}
.glw-card {
	.card-body {
		padding-top: 0;
		padding-bottom: 0;
	}
	&:hover {
		box-shadow: 0 0 0 2px rgba($color-red, 0.4);
	}
	.glw-image {
		position: relative;
		padding: 1.5rem;
		padding-bottom: 2.5rem;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			background-size: contain;
			width: 100%;
			aspect-ratio: 1;
			background: url("../images/icons/glw-02.png") no-repeat;
			background-size: 90% auto;
			background-position: 50% 100%;
		}
		.glw-icon {
			width: 80px;
			aspect-ratio: 1;
			border-bottom-left-radius: 50%;
			border-bottom-right-radius: 50%;
			overflow: hidden;
		}
	}
}
.awards-wrapper {
	.hanging-ribbon {
		position: absolute;
		left: calc(10% - 10px);
		top: 5px;
		min-width: 50px;
		min-height: 50px;
		background-color: $color-red;
		color: $color-white;
		padding: 0.8rem 0.8rem 2rem;
		z-index: 50;
		text-align: center;
		text-transform: uppercase;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 55% calc(100% - 1.7rem), 0 100%);
		p {
			line-height: 0.7;
			font-size: 1rem;
		}
		h3 {
			line-height: 0.7;
			font-size: calc(max(3vw, 2.5rem));
		}
	}
}

.staged_process__wrapper {
	.stage__tile {
		position: relative;
		&::after, &:before{}
		.stage__title{
			color: lighten($color-black, $amount: 30);
			margin-bottom: 1rem;
		}
		.stage__details {
			min-height: 200px;
			border: none;
			border-radius: 0.25rem;
			color: lighten($color-black, $amount: 30);
			.stage__content{
				.icon{
					img{
						filter: grayscale(1);
					}
				}
			}
			h5 {
				font-size: 1rem;
				font-weight: 600;
			}
			p {
				font-size: 0.8rem;
			}
		}
		&.active {
			.stage__title{
				color: $color-red;
				h5{
					font-weight: 600;
				}
			}
			.stage__details {
				.stage__content{
					.icon{
						img{
							filter: grayscale(0);
						}
					}
				}
				box-shadow: 0 0 0 2px $color-red;
				color: $color-black;
				// background: linear-gradient(
				// 	45deg,
				// 	rgba($color-red, 0.3) 0%,
				// 	transparent 100%
				// );
				h5 {
					color: $color-red;
				}
				p {
				}
			}
		}
	}
}
