.hero-backdrop-wrapper .hero-content {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.glw-card .glw-image {
  position: relative;
  padding: 1.5rem;
}
.glw-card .glw-image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  width: 100%;
  aspect-ratio: 1;
  background: url("../images/icons/glw-02.png") no-repeat;
  background-size: 90% auto;
  background-position: 50% 100%;
}
.glw-card .glw-image .glw-icon {
  width: 80px;
  aspect-ratio: 1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}

.awards-wrapper .hanging-ribbon {
  position: fixed;
  left: calc(10% - 10px);
  top: 76px;
  min-width: 50px;
  min-height: 50px;
  background-color: #b72026;
  color: #efefef;
  padding: 0.8rem 0.8rem 2rem;
  z-index: 50;
  text-align: center;
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 55% calc(100% - 1.7rem), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 55% calc(100% - 1.7rem), 0 100%);
}
.awards-wrapper .hanging-ribbon p {
  line-height: 0.7;
  font-size: 1rem;
}
.awards-wrapper .hanging-ribbon h3 {
  line-height: 0.7;
  font-size: max(3vw, 2.5rem);
}