.bg-white {
  background-color: #efefef !important;
}

.text-white {
  color: #efefef !important;
}

.border-color-white {
  border-color: #efefef !important;
}

.bg-black {
  background-color: #1c1c1c !important;
}

.text-black {
  color: #1c1c1c !important;
}

.border-color-black {
  border-color: #1c1c1c !important;
}

.bg-red {
  background-color: #b72026 !important;
}

.text-red {
  color: #b72026 !important;
}

.border-color-red {
  border-color: #b72026 !important;
}

.bg-black-0 {
  background-color: #000000 !important;
}

.text-black-0 {
  color: #000000 !important;
}

.border-color-black-0 {
  border-color: #000000 !important;
}

.bg-yellow {
  background-color: #ffde3f !important;
}

.text-yellow {
  color: #ffde3f !important;
}

.border-color-yellow {
  border-color: #ffde3f !important;
}

.bg-orange {
  background-color: #f05c27 !important;
}

.text-orange {
  color: #f05c27 !important;
}

.border-color-orange {
  border-color: #f05c27 !important;
}

::-moz-selection {
  color: #1c1c1c;
  background: #ffde3f;
}

::selection {
  color: #1c1c1c;
  background: #ffde3f;
}

a {
  text-decoration: none;
  color: #b72026;
  cursor: url("../images/icons/cursor-sm.png"), auto !important;
}

h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 700;
}

form label.error {
  color: red;
  font-size: 0.8rem;
}
body {
  background: url("../images/backgrounds/business.png"), #efefef;
  background-size: 600px;
  font-family: "Poppins", sans-serif;
  cursor: url("../images/icons/cursor-sm.png"), auto;
}

footer {
  background-color: #1c1c1c;
  color: #efefef !important;
  border-top: 5px solid #b72026;
}
footer a {
  color: #ffde3f;
}
footer .main-footer {
  padding-top: 1rem;
}
footer .copyright {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 14px;
}
footer .footer-nav.flex-column .nav-item .nav-link {
  padding: 0.1rem;
}
footer .footer-nav .nav-item .nav-link {
  padding-inline-start: 0;
  color: rgba(239, 239, 239, 0.7);
}
footer .footer-nav .nav-item .nav-link:hover {
  color: #efefef;
}
footer .footer-nav .nav-item .nav-link:active, footer .footer-nav .nav-item .nav-link:focus {
  color: #ffde3f;
}

.section {
  padding: max(5%, 2rem) 0;
  width: 100%;
}

main {
  position: relative;
  min-height: 400px;
}
main.w-fullscreen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section {
  padding: max(5%, 2rem) 0;
}
main section .pseudo-kv {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 80px);
}
main section .pseudo-kv::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/ilu-white.png") no-repeat, rgba(0, 0, 0, 0.6);
  background-size: auto min(60vmin, 40vmax);
  background-position: center;
}

.media-content {
  width: 100%;
  height: 100%;
}
.media-content iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
.media-content video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-sm {
  font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
  .text-lg {
    font-size: 1.3rem;
  }
}
.springboard-register .banner-image {
  border-radius: 1.3rem;
  border: 0.5rem solid #fff;
  background-color: #fff;
  overflow: hidden;
}

nav.navbar {
  background-color: white;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}
nav.navbar .dropdown-menu[data-bs-popper] {
  --bs-dropdown-link-active-bg: #b72026;
  right: 0;
  border-top: 4px solid #b72026;
  border-radius: 0;
}
nav.navbar .dropdown-menu[data-bs-popper] .dropdown-item {
  white-space: inherit;
}
nav.navbar ul.navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  cursor: url("../images/icons/cursor-sm.png"), auto;
}
nav.navbar ul.navbar-nav .nav-item .nav-link.active {
  background-color: #b72026;
  color: #ffde3f;
}

.highlight-nav {
  background-color: #b72026;
  padding: 0 0.25rem;
}
.highlight-nav .nav-item {
  position: relative;
}
.highlight-nav .nav-item .nav-link {
  color: #efefef;
}
.highlight-nav .nav-item:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 1.5rem;
  background-color: #efefef;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0rem;
}

.btn {
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn.btn-yellow {
  --bs-btn-color: #1c1c1c;
  --bs-btn-bg: #ffde3f;
  --bs-btn-border-color: #ffde3f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b72026;
  --bs-btn-hover-border-color: #b72026;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b72026;
  --bs-btn-active-border-color: #b72026;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffde3f;
  --bs-btn-disabled-border-color: #ffde3f;
}
.btn.btn-red {
  --bs-btn-color: #efefef;
  --bs-btn-bg: #b72026;
  --bs-btn-border-color: #b72026;
  --bs-btn-hover-color: #efefef;
  --bs-btn-hover-bg: #b72026;
  --bs-btn-hover-border-color: #b72026;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #efefef;
  --bs-btn-active-bg: #b72026;
  --bs-btn-active-border-color: #b72026;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #b72026;
  --bs-btn-disabled-border-color: #b72026;
}

form .form-control {
  border-radius: 0;
}

.swiper {
  cursor: url("../images/icons/cursor-sm.png"), auto;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  top: 35%;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  content: "";
  height: 2rem;
  width: 2rem;
  background-size: contain !important;
  background-position: center !important;
}
.swiper .swiper-button-next.swiper-button-red::after {
  background: url("../images/icons/red-right.png") no-repeat;
}
.swiper .swiper-button-next.swiper-button-yellow::after {
  background: url("../images/icons/yellow-right.png") no-repeat;
}
.swiper .swiper-button-prev.swiper-button-red::after {
  background: url("../images/icons/red-left.png") no-repeat;
}
.swiper .swiper-button-prev.swiper-button-yellow::after {
  background: url("../images/icons/yellow-left.png") no-repeat;
}
.swiper a {
  cursor: url("../images/icons/cursor-sm.png"), auto !important;
}
.swiper .hero-slide {
  background: url("https://placehold.co/1920x1080") no-repeat;
  background-position: center;
  height: calc(100vh - 100px);
  width: 100%;
  overflow: hidden;
  padding: max(7%, 2rem) 0;
}
.swiper .hero-slide .text-content {
  margin-bottom: 2rem;
  padding: 1rem;
}
.swiper .hero-slide .text-content h2 {
  font-size: max(5vmin, 2.2rem);
  font-weight: 700;
}
.swiper .hero-slide .text-content h3 {
  font-size: max(4vmin, 2rem);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .hero-slide {
    background: url("https://placehold.co/1920x1080") no-repeat;
    background-position: center;
    height: calc(100vh - 100px);
    width: 100%;
    overflow: hidden;
    padding: max(7%, 2rem) 0;
    position: relative;
  }
  .hero-slide .element {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: min(50%, 400px);
  }
  .hero-slide .media-content {
    position: relative;
    z-index: 1;
  }
  .hero-slide .text-content {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    margin-bottom: 2rem;
  }
  .hero-slide .text-content h2 {
    font-size: max(5vmin, 2.2rem);
    font-weight: 700;
  }
  .hero-slide .text-content h3 {
    font-size: max(4vmin, 2rem);
    font-weight: 400;
  }
}
.page-title {
  border-bottom: 5px dotted #b72026;
}
.page-title h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: max(7vmin, 3rem);
}

.section-title h2 {
  margin-bottom: 1.5rem;
}
.section-title h2 > span {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
}
.section-title h2 > span::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: max(8rem, 30%);
  height: 0.25rem;
  background-color: #b72026;
}
.section-title.text-white h2 > span::after {
  background-color: #ffde3f;
}
.section-title.text-center h2 > span::after {
  left: 50%;
  transform: translateX(-50%);
}

.plain-card {
  background-color: white;
}
.plain-card .card-body {
  padding: 1rem;
  border-radius: 0.5rem;
}

.signup-widget {
  min-height: max(500px, 60vmin);
}

.gallery-masonry {
  width: 100%;
  -moz-columns: 2;
       columns: 2;
}
.gallery-masonry img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery-masonry figure {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
}
@media screen and (min-width: 512px) {
  .gallery-masonry {
    -moz-columns: 3;
         columns: 3;
  }
}
@media screen and (min-width: 1440px) {
  .gallery-masonry {
    -moz-columns: 4;
         columns: 4;
  }
}
@media screen and (min-width: 1640px) {
  .gallery-masonry {
    -moz-columns: 5;
         columns: 5;
  }
}
.tile .photo {
  padding: 5px;
  border-radius: 0.35rem;
}
.tile .photo.rounded-circle {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  padding: 0;
  overflow: hidden;
}
.tile .photo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.speaker-tile.rounded-circle,
.interactive-tile.rounded-circle {
  border-radius: 50%;
  border: 5px solid #b72026;
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  padding: 0.5rem;
  overflow: hidden;
}
.speaker-tile.rounded-circle h5,
.interactive-tile.rounded-circle h5 {
  font-size: 1.2rem;
}
.speaker-tile.image-bg,
.interactive-tile.image-bg {
  background: url("https://placehold.co/200x200") no-repeat;
  background-size: cover;
  background-position: center;
}
.speaker-tile:not(.normal):hover .photo,
.interactive-tile:not(.normal):hover .photo {
  box-shadow: 0 0 0 5px #ffde3f;
}

.speaker-tile h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: #b72026;
}
.speaker-tile p {
  font-size: 12px;
  color: rgba(28, 28, 28, 0.8);
}

.article-tile .desc {
  background-color: white;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 5px solid #b72026;
}
.article-tile .desc p {
  color: #1c1c1c;
}

.featured {
  position: relative;
}
.featured::after {
  content: "";
  width: 100%;
  height: 90px;
  background: url("../images/favicon.png") no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  bottom: -15%;
  z-index: 2;
}
.featured:hover {
  box-shadow: 0 0 3px 3px #cf8b2c, 0 0 0 8px #ffde3f;
}

.steps ul {
  display: flex;
}

/* SpirngBoards */
.footer-lineart {
  height: 200px;
  width: 100%;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left bottom;
}

#scrollToTop {
  position: fixed;
  z-index: 999;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  aspect-ratio: 1;
  background-color: #b72026;
  color: #efefef;
  border-radius: 0.25rem;
}